@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutSignIn.cshtml";
}

 


<div class="ui one item fixed menu c_h">
    <p class="item">የሚስጥር ቃል ቀይረዋል</p>
</div>
<div class="ui container main_con">
    <div class="ui container main_con">
        <br>
        <br>
        <br>
        <br>
        <div class="fc">
            <button class="circular ui icon button huge primary">
                <i class="icon send"></i>
            </button>
            <h4>የይለፍ ቃል ቀይረዋል</h4>
            <p>በአዲስ የይለፍ ቃሎ መግባት ይችላሉ</p>
            <a href="@Url.Action("Login")" class="ui button orange">ግባ</a>

        </div>
    </div>
</div>

