
@{
    ViewBag.Title = "Error happened";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<div class="ui one item fixed menu c_h">
    <div class="item">
        <p>ጨረታ</p>
    </div>
</div>

<div class="ui container main_con">

    <div class="ui container">
        <div class="ui grid">
            <div class="sc">

                <div class="ui segment">
                    <div class="ui feed divided middle aligned selection list msg_list_con n_c fc e_c">
                        <div class="ph"></div>
                        <p class="head">ችግር ተፈጥሯል</p>
                        <a href="@Url.Action("Index","User")" class="ui label green">ይህን ሊንክ በመንካት ወደ ጨረታዎች ይመለሱ</a>
                        <p></p>
                        <p class="des">0924144733 ላይ ደውለው ይንገሩን</p>

                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
