@model dynamic

@{
    ViewBag.Title = "Email Confirmation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="ph"></div>
<div class="ui grid">
    <div class="twelve wide column">

    </div>

</div>
<div class="ui container grid">
    <div class="ui ten wide column centered">

        <div class="ui grid">
            <div class="ui main text container">
                
                <p class="ui dividing">@ViewBag.Result</p>
                <p></p>
            </div>
            
        </div>
    </div>
</div>
