@model Web.ViewModels.EditEmailViewModel

@{
    ViewBag.Title = "Edit Email";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="ph"></div>
<div class="ui grid">
    <div class="twelve wide column">

    </div>

</div>
<div class="ui container grid">
    <div class="ui ten wide column centered">

        <div class="ui grid">
            <div class="ui main text container">
                <h2 class="ui dividing header">Change Email</h2>
                <p></p>
            </div>
            <div class="sixteen wide computer column">
                <div class="ui segment">

                    @using (Html.BeginForm("EditEmail", "Admin", FormMethod.Post, new { @class = "ui form", role = "form" }))
                    {
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                        <div class="field">
                            <label>Email</label>
                            @Html.TextBoxFor(model => model.Email)

                        </div>
                            <button class="ui button green" type="submit">Save</button>
                            @Html.ActionLink("Cancel", "Setting", new { }, new { @class = "ui button basic" })
                    }

                </div>
            </div>
        </div>
    </div>
</div>


